{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Car Sales &amp; Servicing</title>
    <link rel="stylesheet" href="{% static "css/styles.css" %}" /> <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}" /> <link
    rel="stylesheet" href="{% static "css/remixicon.css" %}">
  </head>
  <body>
    <header class="p-3 text-bg-dark">
      <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
          <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
            <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap" /></svg>
          </a>

          <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            <li><a href="#" class="nav-link px-2 text-white">But a car</a></li>
            <li><a href="#" class="nav-link px-2 text-white">Sell my car</a></li>
            <li>
              <a href="#" class="nav-link px-2 text-white"
                >Services
                <i class="ri-arrow-down-s-fill"></i>
              </a>
            </li>
            <li><a href="#" class="nav-link px-2 text-white">Reviews</a></li>
            <li><a href="#" class="nav-link px-2 text-white">FAQs</a></li>
          </ul>

          <div class="text-end">
            <a href="#" class="nav-link px-2 text-white">Login/Register</a>
          </div>
        </div>
      </div>
    </header>
    <main>
      <div class="container">
        <div class="float-start search-container content">
          <h4>Get your dream car today</h4>
          <p>Find the car that fits your lifestyle, budget, and dreams. Start exploring now, your perfect ride is just a search away!</p>
        </div>
        <div class="float-start search-form mt-3">
          <!-- Top Row -->
          <div class="row g-3 m-2">
            <div class="col-sm-9">
              <input type="text" class="form-control" id="inputModelId" placeholder="Make or model" />
            </div>
            <div class="col-sm-3">
              <input type="text" class="form-control" id="inputLocationId" placeholder="Location" />
            </div>
          </div>
          <!-- Middle Row-->
          <div class="row g-3 m-2">
            <div class="col-sm-4">
              <select name="selectYearId" class="form-select" aria-label="Default select example">
                <option selected>Year</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
            </div>
            <div class="col-sm-4">
              <select name="selectMinPriceId" class="form-select" aria-label="Minimum Price">
                <option selected>Min Price</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
            </div>
            <div class="col-sm-4">
              <select name="selectMaxPriceId" class="form-select" aria-label="Maximum Price">
                <option selected>Max Price</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
            </div>
          </div>
          <!-- Bottom Row-->
          <div class="row g-3 m-2">
            <div class="col-sm-2">
              <button class="btn btn-primary d-inline-flex align-items-center" type="button">Search</button>
            </div>
            <div class="col-sm-3 mt-4">
              <a href="#" class="nav">Advanced search</a>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
