{% extends 'base-services.html' %}{% load static %} {% block title %}Display booking{% endblock title %}
<!-- Content Body -->
{% block content %}
<div class="container mt-5 fade-slide">
  <nav class="bg-light" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="#">Test Drive</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">Display booking</li>
    </ol>
  </nav>

  <form method="POST" action="" class="p-4 rounded shadow">
    {% csrf_token %}

    <!--<h4 class="mb-4">Book a Test Drive</h4>-->
    <div class="form-floating mb-3">
      <select name="vehicle_type" id="vehicle_type" class="form-select" required>
        <option selected disabled>Select type</option>
        {% for category in categories %}
        <option value="{{category.id}}">{{category.name}}</option>
        {% endfor %}
      </select>
      <label for="vehicle_type">Vehicle Type</label>
    </div>

    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="model" name="vehicle_model" value="{{booking.model}}" required />
      <label for="model">Vehicle Model</label>
    </div>

    <div class="form-floating mb-3">
      <input type="date" class="form-control" id="preferred_date" name="preferred_date" />
      <label for="preferred_date">Preferred Date</label>
    </div>

    <div class="form-floating mb-3">
      <input type="time" class="form-control" id="preferred_time" name="preferred_time" required />
      <label for="preferred_time">Preferred Time</label>
    </div>

    <div class="form-floating mb-3">
      <textarea class="form-control" id="notes" name="notes" rows="6" placeholder="Any preferences or questions..."></textarea>
      <label for="notes">Additional Notes (Optional)</label>
    </div>

    <button type="submit" class="btn btn-primary w-100 py-2">Book Test Drive</button>
  </form>

  <!--Message Toast-->
  <!--<div class="toast-container position-fixed bottom-0 end-0 p-3">
    <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="toast-header">
        <img src="..." class="rounded me-2" alt="..." />
        <strong class="me-auto">Bootstrap</strong>
        <small>11 mins ago</small>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body">Hello, world! This is a toast message.</div>
    </div>
  </div>-->
</div>
{% endblock content %}
