{% extends 'base-services.html' %}{% load static %} {% block title %}Book Test Drive{% endblock title %}
<!-- Content Body -->
{% block content %}
<div class="container mt-5 fade-slide">
  <nav class="bg-light" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="{% url 'list-booking' %}">Test-drive Bookings</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">Book Test Drive</li>
    </ol>
  </nav>

  <form method="POST" action="" class="p-4 rounded shadow">
    {% csrf_token %}

    <h4 class="mb-4">Book a Test Drive</h4>
    <div class="form-floating mb-3">
      <select name="vehicle_type" id="vehicle_type" class="form-select" required>
        <option selected disabled>Select type</option>
        {% for category in categories %}
        <option value="{{category.id}}">{{category.name}}</option>
        {% endfor %}
      </select>
      <label for="vehicle_type">Vehicle Type</label>
    </div>

    <div class="form-floating mb-3">
      <select name="vehicle_model" id="vehicle_model" class="form-select" required>
        <option selected disabled>Select type</option>
        {% for model in models %}
        <option value="{{model.vin_number}}">{{model.name}}</option>
        {% endfor %}
      </select>
      <label for="vehicle_model">Vehicle Model</label>
    </div>

    <div class="form-floating mb-3">
      <input type="date" class="form-control" id="preferred_date" name="preferred_date" />
      <label for="preferred_date">Preferred Date</label>
    </div>

    <div class="form-floating mb-3">
      <input type="time" class="form-control" id="preferred_time" name="preferred_time" required />
      <label for="preferred_time">Preferred Time</label>
    </div>

    <div class="form-floating mb-3">
      <textarea class="form-control" id="notes" name="notes" rows="6" placeholder="Any preferences or questions..."></textarea>
      <label for="notes">Additional Notes (Optional)</label>
    </div>

    <button type="submit" class="btn btn-primary w-100 py-2">Book Test Drive</button>
  </form>
</div>
{% endblock content %}
