{% extends 'base-services.html' %}{% load static %} {% block title %}Create Request{% endblock title %}
<!-- Content Block-->
{% block content %}
<div class="container mt-5 fade-slide">
  <nav class="bg-light" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <span>Service Requests</span>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        <span>Create Request</span>
      </li>
    </ol>
  </nav>

  <form method="POST" action="{% url 'create-service' %}" class="p-4 rounded shadow">
    {% csrf_token %}

    <h4 class="mb-4">Please fill in the request form</h4>

    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="make" name="make" placeholder="e.g., Toyota" required />
      <label for="make" class="form-label">Vehicle Make</label>
    </div>

    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="model" name="model" placeholder="e.g., Corolla" required />
      <label for="model" class="form-label">Vehicle Model</label>
    </div>

    <div class="form-floating mb-3">
      <input type="number" class="form-control" id="year" name="year" placeholder="e.g., 2018" required />
      <label for="year" class="form-label">Year of Manufacture</label>
    </div>

    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="plate" name="license_plate" placeholder="e.g., ABC-1234" required />
      <label for="plate" class="form-label">License Plate e.g., ABC-1234</label>
    </div>

    <div class="form-floating mb-3">
      <select class="form-select" id="service" name="service_type" required>
        <option selected disabled>Select Service Type</option>
        {% for service in services %}
        <option value="{{service.id}}">{{service.name}}</option>
        {% endfor %}
      </select>
      <label for="service" class="form-label">Service Type</label>
    </div>

    <div class="form-floating mb-3">
      <textarea
        class="form-control"
        id="notes"
        name="description"
        rows="3"
        placeholder="Describe any issues or symptoms..."></textarea>
      <label for="notes" class="form-label">Additional Notes (Optional)</label>
    </div>

    <button type="submit" class="btn btn-primary w-100">Submit Request</button>
  </form>

  <div class="toast-container position-fixed bottom-0 end-0 p-3">
    {% if messages %} {% for message in messages %}
    <div
      class="toast align-items-center text-bg-success border-0 bottom-0 start-50 translate-middle-x show"
      role="alert"
      aria-live="assertive"
      aria-atomic="true"
      id="liveToast">
      <div class="d-flex">
        <div class="toast-body">{{ message }}</div>
        <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
    </div>
    {% endfor %} {% endif %}
  </div>
</div>

{% endblock content %}
