{% extends 'base-services.html' %}{% load group_tags %}{% load static %} {% load status_filters %}
<!---->
{% block title %}Display Service{% endblock title %}
<!-- Content Block-->
{% block content %}
<div class="container mt-5 fade-slide">
  <nav class="bg-light" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="{% url 'list-service' %}">
          <span>Service Requests</span>
        </a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        <span>Display Request</span>
      </li>
    </ol>
  </nav>

  <form method="POST" action="{% url 'display-service' service.id %}" class="p-4 rounded shadow">
    {% csrf_token %}

    <!--<h4 class="mb-4">Please fill in the request form</h4>-->

    {% if request.user|has_group:'Admin' %}
    <!--<fieldset disabled="disabled">-->
    {% endif %}

     <div class="row mt-4">

      <div class="form-floating mb-3 col-md-6">
        {% if request.user|has_group:'Admin' %}
        <input type="text" class="form-control" id="make" name="make" value="{{values.vehicle.make}}" required readonly />
        {% else %}
        <input type="text" class="form-control" id="make" name="make" value="{{values.vehicle.make}}" required />
        {% endif %}
        <!--<input type="text" class="form-control" id="make" name="make" value="{{values.vehicle.make}}" required />-->
        <label for="make" class="form-label ml-2" style="margin-left: 5;">Vehicle Make</label>
      </div>

      <div class="form-floating mb-3 col-md-6">
        {% if request.user|has_group:'Admin' %}
        <input type="text" class="form-control" id="model" name="model" value="{{values.vehicle.model}}" required readonly />
        {% else %}
        <input type="text" class="form-control" id="model" name="model" value="{{values.vehicle.model}}" required />
        {% endif %}
        <label for="model" class="form-label ml-2" style="margin-left: 5;">Vehicle Model</label>
      </div>

    </div>

    <div class="row mt-4">

      <div class="form-floating mb-3 col-md-6" >
        {% if request.user|has_group:'Admin' %}
        <input type="number" class="form-control" id="year" name="year" value="{{values.vehicle.year}}" required readonly />
        {% else %}
        <input type="number" class="form-control" id="year" name="year" value="{{values.vehicle.year}}" required />
        {% endif %}
        <label for="year" class="form-label" style="margin-left: 5;">Year of Manufacture</label>
      </div>

      <!--License Plate-->
      <div class="form-floating mb-3 col-md-6">
        {% if request.user|has_group:'Admin' %}
        <input
          type="text"
          class="form-control"
          id="plate"
          name="license_plate"
          value="{{values.vehicle.license_plate}}"
          required
          readonly />
        {% else %}
        <input type="text" class="form-control" id="plate" name="license_plate" value="{{values.vehicle.license_plate}}" required />
        {% endif %}
        <label for="plate" class="form-label" style="margin-left: 5;">License Plate</label>
      </div>
    </div>

    <!-- Service Type -->
    <div class="form-floating mb-3">
      {% if request.user|has_group:'Admin' %}
      <select class="form-select" disabled>
        <option value="{{values.service_type}}" selected>{{values.service_type}}</option>
      </select>
      <!-- Hidden but POSTed -->
      <input type="hidden" name="service_type" value="{{ values.service_type.id }}" />
      {% else %}
      <select class="form-select" id="service" name="service_type" required>
        <option value="{{values.service_type}}" selected disabled>{{values.service_type}}</option>
        {% for service in services %}
        <option value="{{service.id}}">{{service.name}}</option>
        {% endfor %}
      </select>
      {% endif %}
      <label for="service" class="form-label">Service Type</label>
    </div>

    <!--Notes-->
    <div class="form-floating mb-3">
      <textarea class="form-control" id="notes" name="description" rows="3">
      {{values.description}}
      </textarea>
      <label for="notes" class="form-label">Additional Notes</label>
    </div>

    <!-- Admin assign to staff -->
     {% if request.user|has_group:'Admin' %}
    <div class="form-floating mb-3">
      <select class="form-control" name="status" id="id-status">
       {% for employee in employees %}
        <option value="{{ employee.username }}" >{{ employee.username }} {{ values.assigned_to}}</option>
       {% endfor %}
      </select>
      <label for="id-status" class="form-label">Assigned to</label>
    </div>
    {% endif %}


    <!-- Status Update-->
    {% if request.user|has_group:'Admin' %}
    <div class="form-floating mb-3">
      <select class="form-control" name="status" id="id-status">
       {% for value, label in status_choices %}
        <option value="{{ value }}" {% if value == values.status %} selected {% endif %}>{{ label }}</option>
       {% endfor %}
      </select>
      <label for="id-status" class="form-label">Request status</label>
    </div>
    {% endif %}

    <!-- Buttons-->
    <div class="row mt-4">
      {% if values.status|is_cancelled %}
      <div class="col-md-12">
        <input type="submit" name="action" value="Delete" class="btn btn-danger w-100" />
      </div>
      {% else %}
      <div class="col-md-6">
        <input type="submit" name="action" value="Update" class="btn btn-primary w-100" />
      </div>
      <div class="col-md-6">
        <input type="submit" name="action" value="Delete" class="btn btn-danger w-100" />
      </div>
      {% endif %}
    </div>
  </form>
</div>

{% endblock content %}
