{% extends 'base-services.html' %}{% load static %} {% block title %}Service Requests{% endblock title %}
<!--Content Block-->
{% block content %}
<div class="container mt-5 fade-slide">
  <!-- Breadcrumb -->
  <nav class="bg-light" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="#">Service Requests</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">Service History</li>
    </ol>
  </nav>

  <div class="table-responsive shadow p-3 rounded">
    <div class="d-flex justify-content-between align-items-center mb-3">
      <h4 class="mb-0">My Requests</h4>
      <a href="{% url 'create-service' %}" class="btn btn-primary">Add New</a>
    </div>

    <table class="table table-striped align-middle" style="font-size: small">
      <thead>
        <tr>
          <th scope="col "><input type="checkbox" /></th>
          <th scope="col ">Created</th>
          <th scope="col ">Service Type</th>
          <th scope="col ">Vehicle</th>
          <th scope="col ">License Plate</th>
          <th scope="col ">Service date</th>
          <th scope="col ">Status</th>
          <th scope="col " class="text-end">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for service in services %}
        <tr>
          <td><input type="checkbox" name="selected_services" value="{{ service.id }}" /></td>
          <td>{{ service.created_on|date:"Y-m-d H:i" }}</td>
          <td>{{ service.service_type }}</td>
          <td>{{ service.vehicle.make }} {{ service.vehicle.model }}</td>
          <td>{{ service.vehicle.license_plate }}</td>
          <td>{{ service.vehicle.service_date }}</td>
          <td>
            <span class="badge bg-{{ service.status|lower|yesno:'success,secondary,warning,danger' }}">{{ service.status }}</span>
          </td>
          <td class="text-end">
            <a href="{% url 'display-service' service.id %}" class="btn btn-sm btn-outline-secondary ml-4">View</a>
            <!--<a href="" class="btn btn-sm btn-outline-danger">Delete</a>-->
          </td>
        </tr>
        {% empty %}
        <tr>
          <td colspan="7" class="text-center text-muted">No service records found.</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock content %}
