{% load static %}
<html lang="en" data-bs-theme="auto">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <title>Car sales · {% block title %}{% endblock title %}</title>

    <script src="{% static 'js/color-modes.js' %}"></script>
    <script src="{% static 'js/sidebar.js' %}"></script>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />
    <link rel="apple-touch-icon" href="/docs/5.3/assets/img/favicons/apple-touch-icon.png" sizes="180x180" />

    <meta name="theme-color" content="#712cf9" />
    <link rel="stylesheet" href="{% static 'css/dashboard-main.css' %}" />
  </head>
  <body>
    <nav>{% include 'partials/_navbar.html' %}</nav>
    <aside>{% include 'partials/_sidebar.html' %}</aside>
    <main>{% block content %}{% endblock content %}</main>
    <script defer src="{% static 'js/dashboard.js' %}"></script>
  </body>
</html>
