{% load static %}
<html lang="en" data-bs-theme="light">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />

    <title>Car sales · {% block title %}{% endblock title %}</title>
    <!--<script defer src="{% static 'js/color-modes.js' %}"></script>-->

    <script defer src="{% static 'js/sidebar.js' %}"></script>
    <script defer src="{% static 'js/dashboard.js' %}"></script>
    <script defer src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <!--<link rel="stylesheet" href="{% static 'css/dashboard-main.css' %}" />-->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />

    <link rel="apple-touch-icon" href="/docs/5.3/assets/img/favicons/apple-touch-icon.png" sizes="180x180" />

    <meta name="theme-color" content="#712cf9" />
  </head>
  <body>
    <nav>{% include 'partials/navbar.html' %}</nav>
    {% block content_wrapper %} {% block content %}{% endblock content %}{% endblock content_wrapper %}
    <script>
      const dialog = document.getElementById("dialog-login");
      function signInButtonClick() {
        dialog.showModal();
      }

      document.addEventListener("DOMContentLoaded", () => {
        document.querySelectorAll(".page-transition").forEach((el) => {
          el.classList.add("visible");
        });
      });
    </script>
  </body>
</html>
