{% extends "base.html" %}{% load static %}{% block title %} Home{% endblock title %}{% block content %}
<div class="row mt-0">
  <div class="column col-3"></div>
  <div class="column col-6">
    <!-- Top Section-->

    <!--<section class="py-4 text-begin container">-->
    <div class="row py-lg-4 mt-4">
      <!--<div class="col-lg-8 col-md-6 mx-auto">-->
      <h2 class="fw-light">Find your dream car today</h2>
      <p>
        Your next ride is closer than you think, affordable, reliable, and ready to roll. From first cars to dream cars, we make buying simple, fast,
        and stress-free. Find it. Own it. Drive happy
      </p>
      <!--</div>-->
      {% include "partials/_messages.html" %}
    </div>
    <!-- </section>-->

    <form action="{% url 'login' %}" method="post">
      <div class="search-container">
        <!-- First row-->
        <div class="row g-3 mt-3">
          <div class="form-floating mb-1 col-lg-9 col-md-9 col-sm-12">
            <input type="text" class="form-control" id="inputModelId" placeholder="Make or model" />
            <label for="inputModelId">Make or model</label>
          </div>
          <div class="form-floating mb-1 col-lg-3 col-md-3 col-sm-12">
            <input type="text" class="form-control" id="inputLocationId" placeholder="Location" />
            <label for="inputLocationId">Location</label>
          </div>
        </div>
        <!-- Second row-->
        <div class="row g-3 mt-2">
          <div class="form-floating mb-1 col-lg-3 col-md-3 col-sm-12">
            <select name="selectYearMinId" class="form-select" aria-label="Default select example">
              {% for year in years %}
              <option value="{{ year.key }}">{{ year.value }}</option>
              {% endfor %}
            </select>
            <label for="selectYearMinId">Min Year</label>
          </div>
          <div class="form-floating mb-1 col-lg-3 col-md-3 col-sm-12">
            <select name="selectYearMaxId" class="form-select" aria-label="Default select example">
              {% for year in years %}
              <option value="{{ year.key }}">{{ year.value }}</option>
              {% endfor %}
            </select>
            <label for="selectYearMaxId">Max Year</label>
          </div>
          <div class="form-floating mb-1 col-lg-3 col-md-3 col-sm-12">
            <select name="selectPriceMinId" class="form-select" aria-label="Minimum Price">
              {% for price in prices %}
              <option value="{{ price.key }}">{{ price.value }}</option>
              {% endfor %}
            </select>
            <label for="selectPriceMinId">Min Price</label>
          </div>
          <div class="form-floating mb-1 col-lg-3 col-md-3 col-sm-12">
            <select name="selectPriceMaxId" class="form-select" aria-label="Minimum Price">
              {% for price in prices %}
              <option value="{{ price.key }}">{{ price.value }}</option>
              {% endfor %}
            </select>
            <label for="selectPriceMaxId">Max Price</label>
          </div>
        </div>
        <!-- Third row-->
        <div class="row g-3 mt-2">
          <div class="mb-1 col-sm-12 col-md-4 col-lg-3">
            <a class="p-md-2" href="#">Advanced search</a>
          </div>
          <div class="mb-1 col-sm-12 col-md-2 col-lg-3"></div>
          <div class="mb-1 col-sm-12 col-md-2 col-lg-3"></div>
          <div class="mb-1 col-sm-12 col-md-6 col-lg-3">
            <button class="btn btn-primary mr-3" value="" id="buttonSearchId">Search vehicles</button>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="column col-3"></div>
</div>

{% endblock content %}
