{% extends 'base-services.html' %}{% load static %} {% load group_tags %}{% load form_filters %}
<!---->
{% block title %}Update Account{% endblock title %}
<!-- Content Body -->
{% block content %}

<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <div class="card mt-5">
      <div class="card-body">
        <h4 class="card-title mb-3">Update Account Details</h4>

        <form method="post">
          {% csrf_token %} {% for field in form %}
          <div class="form-floating mb-3">
            {{ field }}
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {% for error in field.errors %}
            <div class="text-danger small">{{ error }}</div>
            {% endfor %}
          </div>
          {% endfor %}

          <button class="btn btn-primary w-100 py-2" type="submit">Save Changes</button>
        </form>
      </div>
    </div>
  </div>
  <div class="col-md-4"></div>
</div>

{% endblock content %}
