{% extends 'base-services.html' %}{% load static %} {% load group_tags %}{% load form_filters %}
<!---->
{% block title %}Change Password{% endblock title %}
<!-- Content Body -->
{% block content %}

<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <div class="card mt-5">
      <div class="card-body">
        <div class="card-title">
          <h4 class="m-lg-1">Change Password</h4>
        </div>

        <form method="post">
          {% csrf_token %} {% for field in form %}
          <div class="form-floating mb-3">
            {{ field|add_class:"form-control" }}
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {% for error in field.errors %}
            <div class="text-danger small">{{ error }}</div>
            {% endfor %}
          </div>
          {% endfor %}

          <button type="submit" class="btn btn-primary w-100 py-2">Update Password</button>

          <div class="text-center mt-3">
            <a href="{% url 'dashboard' %}">Back to Dashboard</a>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-md-4"></div>
</div>
{% endblock content %}
