@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --db-base-clr: #212529;
  --db-line-clr: rgb(102, 107, 115, 0.35);
  --db-hover-clr: rgba(230, 235, 240, 0.25);
  --db-text-clr: #48484a;
  --db-accent-clr: rgb(102, 107, 115, 0.1);
  --db-active-clr: #222535;
  --db-secondary-text-clr: #b4b6bc;
}

body {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas: "navbar navbar" "sidebar main";
  color: var(--db-text-clr);
}

nav {
  grid-area: navbar;
}

aside {
  top: 56px;
  grid-area: sidebar;
  position: sticky;
  align-self: start;
  height: calc(100vh - 56px);
  border-right: 1px solid var(--db-line-clr);
  box-sizing: border-box;
  overflow: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

aside ::-webkit-scrollbar {
  display: none;
}

@media (max-width: 900px) {
  body {
    grid-template-columns: 1fr;
  }
  aside {
    position: fixed;
    width: 300px;
    display: none;
  }

  .show {
    display: block;
  }
}

main p {
  margin-top: 5px;
  margin-bottom: 15px;
}

.filter-title {
  display: flex;
  align-items: center;
  margin-top: 10px;
  height: 4rem;
  font-size: x-large;
  font-weight: 100;
  border-bottom: 1px solid var(--db-accent-clr);
  padding: 20px;
}

#sidebar .sub-menu {
  display: grid;
  grid-template-rows: 0fr;
  padding: 0.5em;
  transition: 300ms ease-in-out;
  > div {
    overflow: hidden;
  }
}

#sidebar .sub-menu.show {
  grid-template-rows: 1fr;
}

.rotate svg:last-child {
  rotate: 180deg;
}

#sidebar .sub-menu label {
  font-size: small;
  color: var(--db-text-clr);
}

#sidebar ul {
  padding: 0px 10px 10px 10px;
  flex-shrink: 0;
}

#sidebar ul li {
  display: flex;
  flex: 1;
  flex-direction: column;
  border-bottom: 1px solid var(--db-accent-clr);
  padding: 0.85rem;
}

#sidebar ul li:hover {
  background-color: var(--db-hover-clr);
}

#sidebar ul li.active {
  color: var(--db-accent-clr);
  svg {
    fill: var(--db-accent-clr);
  }
}

#sidebar a,
#sidebar .dropdown-btn,
#sidebar .logo {
  border-radius: 0.5em;
  text-decoration: none;
  color: var(--db-text-clr);
  display: flex;
  align-items: center;
  gap: 1em;
}

.dropdown-btn {
  width: 100%;
  text-align: left;
  background: none;
  border: none;
  font: inherit;
  cursor: pointer;
}

.dropdown-btn svg {
  transition: 200ms ease;
}

#sidebar span,
#sidebar .dropdown-btn span {
  flex-grow: 1;
}

#sidebar .search-button {
  display: flex;
  flex: 1;
  position: sticky;
  bottom: 0;
  padding: 2em;
}
