@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --db-base-clr: #212529;
  --db-line-clr: #42434a;
  --db-hover-clr: #222533;
  --db-text-clr: #e6e6ef;
  --db-accent-clr: #afb0e2;
  --db-secondary-text-clr: #b0b3c1;
}

* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  min-height: 100dvh;
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas: "navbar navbar" "sidebar main";
}

nav {
  top: 0;
  position: sticky;
  grid-area: navbar;
  background-color: var(--db-base-clr);
}

aside {
  height: calc(100vh - 56px);
  top: 56px;
  position: sticky;
  align-self: start;
  grid-area: sidebar;
  background-color: var(--db-base-clr);
  padding: 5px 1em;
  border-right: 1px solid var(--db-line-clr);
  /* border-top: 1px solid var(--line-clr); */
}

aside ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Logo styling and button styling */
/* aside > ul > li:first-child {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 16px;
  .logo {
    font-weight: 600;
  }
} */

aside svg {
  flex-shrink: 0;
  fill: var(--db-text-clr);
}

aside a span,
.dropdown-btn span {
  flex-grow: 1;
}

aside a:hover,
.dropdown-btn:hover {
  background-color: var(--db-hover-clr);
}

aside ul li.active a {
  color: var(--db-accent-clr);
  svg {
    fill: var(--db-accent-clr);
  }
}

aside a,
.dropdown-btn,
.logo {
  border-radius: 0.5em;
  padding: 0.85em;
  text-decoration: none;
  color: var(--db-text-clr);
  display: flex;
  align-items: center;
  gap: 1.5em;
}

aside .sub-menu {
  display: grid;
  grid-template-rows: 0fr;
  transition: 300ms ease-in-out;
  > div {
    overflow: hidden;
  }
}

aside .sub-menu.show {
  grid-template-rows: 1fr;
}

aside .sub-menu a {
  padding-left: 2em;
}

button {
  width: 100%;
  text-align: left;
  background: none;
  border: 0;
  font: inherit;
  cursor: pointer;
  outline: 0;
}

button svg {
  transition: 200ms;
}

.rotate svg:last-child {
  rotate: 180deg;
}

@media (max-width: 800px) {
  body {
    grid-template-columns: 1fr;
  }
  aside {
    position: fixed;
    width: 300px;
    display: none;
  }
  .show {
    display: block;
  }
}
