@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
nav {
  top: 0;
  z-index: 1000;
  position: sticky;
}

.search-content {
  display: flex;
  align-items: center;
  margin-top: 200px;
}

.search-form {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
  padding: 10px;
  width: 100%;
}

.search-form .search-field {
  flex: 1;
  min-width: 150px;
}

.search-form select,
.search-form input,
.search-form button {
  width: 100%;
  height: 50px;
  border-radius: 8px;
  font-size: 1rem;
}

.category-display {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0.5rem;
  margin-top: 20px;
  gap: 1rem;
}

.category-display p {
  font-size: x-small;
}

.category-display image {
  flex-shrink: inherit;
}

@media (max-width: 900px) {
  .search-form {
    flex-direction: column;
    align-items: stretch;
  }

  .search-form .search-field {
    width: 100%;
  }

  .category-display {
    align-content: center;
    justify-content: center;
    padding: 5rem;
    flex: 1;
  }
}

.search-row {
  display: flex;
  flex-direction: row;
  margin: 10px;
}

.search-row-item {
  flex: 1;
}

.container-results {
  padding-left: 5rem;
  padding-right: 5rem;
  margin-top: 1rem;
}

/* Define base animation */
.fade-slide {
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.6s ease;
}

/* Trigger this class with JS or on page load */
.fade-slide.visible {
  opacity: 1;
  transform: translateY(0);
}

.results-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 24px;
  justify-content: start;
  overflow-y: hidden;
}
