@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --db-base-clr: #212529;
  --db-line-clr: #42434a;
  --db-hover-clr: #222533;
  --db-text-clr: #e6e6ef;
  --db-accent-clr: #4547cc;
  --db-active-clr: #222535;
  --db-secondary-text-clr: #b4b6bc;
}

* {
  margin: 0;
  padding: 0;
}

nav {
  position: sticky;
  top: 0;
  z-index: 1000;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 2.5rem;
  }
}

@media (max-width: 800px) {
  .results-container {
    grid-template-columns: 1fr;
  }

  .search-section {
    position: fixed;
    width: 300px;
    display: none;
  }
}
