@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --db-base-clr: #212529;
  --db-line-clr: #42434a;
  --db-hover-clr: #222533;
  --db-text-clr: #48484a;
  --db-accent-clr: rgb(102, 107, 115);
  --db-active-clr: #222535;
  --db-secondary-text-clr: #b4b6bc;
}

* {
  margin: 0;
  padding: 0;
}

nav {
  top: 0;
  z-index: 1000;
  position: sticky;
}

.search-content {
  top: 200px;
  height: calc(100vh - 56px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.search-bar {
  width: 100%;
  max-width: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-groups {
  list-style: none;
  display: flex;
  justify-content: space-evenly; /* even spacing across width */
  width: 100%;
  max-width: 700px;
  padding: 0;
  margin-bottom: 20px;
  gap: 24px;
}

.search-group-tabs {
  width: 100%;
  max-width: 400px;
  font-weight: 100;
}

.search-group-item {
  flex: 1;
  text-align: center;
  padding: 12px 0;
  cursor: pointer;
  font-weight: 300;
  border-bottom: 3px solid transparent;
  transition: border-bottom 0.3s ease;
}

.search-group-item ul li {
  border-bottom: 3px solid var(--db-accent-clr);
}

.search-group-item:hover {
  /* color: var(--db-accent-clr); */
  border-bottom: 3px solid var(--db-accent-clr);
}

.search-group-item.active {
  border-bottom: 3px solid var(--db-accent-clr);
  color: var(--db-accent-clr);
  font-weight: 300;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 2.5rem;
  }
}

@media (max-width: 800px) {
  .results-container {
    grid-template-columns: 1fr;
  }

  .search-section {
    position: fixed;
    width: 300px;
    display: none;
  }
}
