{% load static %}
<header data-bs-theme="dark">
  <div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container">
      <a href="{% url 'home' %}" class="navbar-brand d-flex align-items-center">
        <strong>Car Sales.</strong>
      </a>

      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        {% if user.is_authenticated %}
        <li><a href="#" class="nav-link px-2">FAQs</a></li>
        <li><a href="#" class="nav-link px-2">About</a></li>
        {% else %}
        <li><a href="{% url 'login' %}" class="nav-link px-2">Service requests</a></li>
        <li><a href="#" class="nav-link px-2">FAQs</a></li>
        <li><a href="#" class="nav-link px-2">About</a></li>
        {% endif %}
      </ul>

      {% if user.is_authenticated %}
      <div class="row dropdown text-end">
        <div class="col">
          <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle" />
          </a>
          <ul class="dropdown-menu text-small">
            <li><a class="dropdown-item" href="#">My Profile</a></li>
            <li><a class="dropdown-item" href="#">Services requests</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" href="{% url 'logout' %}">Sign out</a></li>
          </ul>
        </div>
        <!--<div class="col">
          <span class="small mt-3">Username</span>
        </div>-->
      </div>
      {% else %}
      <div class="col-md-3 text-end">
        <a class="link link-light me-2" href="{% url 'login' %}">Login/Register</a>
      </div>
      {% endif %}
    </div>
  </div>
</header>
