<header class="mb-auto" data-bs-theme="dark">
  <div class="navbar sticky-top navbar-dark bg-dark shadow">
    <div class="container">
      <a href="{% url 'home' %}" class="navbar-brand d-flex align-items-center">
        <strong>Car Sales.</strong>
      </a>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" />
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</header>
