<div class="filter-title">
  <p style="flex: 1; margin-bottom: 0"><strong>Filters</strong></p>
  <button class="btn" style="flex: 1; color: #80808096">
    <span>clear</span>
    <!--<svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px" fill="#80808096">
      <path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z" />
    </svg>-->
    <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px" fill="#80808096">
      <path
        d="m592-481-57-57 143-182H353l-80-80h487q25 0 36 22t-4 42L592-481ZM791-56 560-287v87q0 17-11.5 28.5T520-160h-80q-17 0-28.5-11.5T400-200v-247L56-791l56-57 736 736-57 56ZM535-538Z" />
    </svg>
  </button>
</div>
<form id="form-category" method="GET" action="{% url 'results' %}">
  <ul class="nav nav-pills flex-column">
    <li class="nav-item">
      <button type="button" class="dropdown-btn" onclick="toggleSubMenu(this)" data-id="menu-make-model">
        <span> Make &amp; Model</span>
        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#1f1f1f">
          <path d="M480-360 280-560h400L480-360Z" />
        </svg>
      </button>
      <!--Make & Model Submenu-->
      <div class="sub-menu" data-parent="menu-make-model">
        <div>
          <label>Category:</label>
          <select name="search-type" class="form-select">
            <option value="">Select</option>
            {% for category in categories %}
            <option value="{{category.id}}">{{category.name}}</option>
            {% endfor %}
          </select>
          <label>Make:</label>
          <select name="search-make" class="form-select">
            <option value="">Select</option>
            {% for brand in brands %}
            <option value="{{brand.id}}">{{brand.name}}</option>
            {% endfor %}
          </select>
          <label>Model:</label>
          <select name="search-model" class="form-select">
            <option value="">Select</option>
            {% for model in models %}
            <option value="{{model.id}}">{{model.name}}</option>
            {% endfor %}
          </select>
          <!--</form>-->
        </div>
      </div>
    </li>
    <li class="nav-item">
      <button type="button" class="dropdown-btn" onclick="toggleSubMenu(this)" data-id="menu-pricing">
        <span> Pricing</span>
        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#1f1f1f">
          <path d="M480-360 280-560h400L480-360Z" />
        </svg>
      </button>
      <!--Pricing Submenu-->
      <div class="sub-menu" data-parent="menu-pricing">
        <div>
          <!--<form id="form-pricing">-->
          <label>Minimum:</label>
          <select name="search-minprice" class="form-select">
            <option value="">Select</option>
            <option value="1000">1000</option>
            <option value="10000">10000</option>
          </select>
          <label>Maximum:</label>
          <select name="search-maxprice" class="form-select">
            <option value="">Select</option>
            <option value="1000">1000</option>
            <option value="10000">10000</option>
          </select>
          <!--</form>-->
        </div>
      </div>
    </li>
    <li class="nav-item">
      <button type="button" class="dropdown-btn" onclick="toggleSubMenu(this)" data-id="menu-features">
        <span> Features</span>
        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#1f1f1f">
          <path d="M480-360 280-560h400L480-360Z" />
        </svg>
      </button>
      <div class="sub-menu" data-parent="menu-features">
        <div>
          <!--<form id="form-features" style="display: flex; flex-wrap: wrap; align-content: flex-start; gap: 5px">-->
          {% for feature in features %}
          <div class="list-item">
            <input class="form-check-input" type="checkbox" name="features" id="feature-{{ feature.id }}" value="{{ feature.id }}" />
            <label class="form-check-label" for="feature-{{ feature.id }}">{{ feature.name }}</label><br />
          </div>
          {% endfor %}
          <!--</form>-->
        </div>
      </div>
    </li>
  </ul>

  <!--Submit button-->
  <div class="search-button">
    <button type="submit" class="btn btn-primary">
      <!-- onclick="submitAllFormsAJAX()"> -->
      <span>Search catalog</span>
      <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px" fill="#fff">
        <path
          d="M784-120 532-372q-30 24-69 38t-83 14q-109 0-184.5-75.5T120-580q0-109 75.5-184.5T380-840q109 0 184.5 75.5T640-580q0 44-14 83t-38 69l252 252-56 56ZM380-400q75 0 127.5-52.5T560-580q0-75-52.5-127.5T380-760q-75 0-127.5 52.5T200-580q0 75 52.5 127.5T380-400Z" />
      </svg>
    </button>
  </div>
</form>
