<div class="nav nav-pills nav-item filter-title">
  <a href="">
    <strong>Overview</strong>
  </a>
</div>
<ul class="nav nav-pills flex-column">
  <!--<li class="nav-item">
    <a class="dropdown-btn">
      <span> Inbox</span>
    </a>
  </li>-->
  <li class="nav-item">
    <a class="dropdown-btn" href="{% url 'list-service' %}">
      <span>Service Requests</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="dropdown-btn" href="{% url 'list-booking' %}">
      <span>Test-drive Bookings</span>
    </a>
  </li>

  <li class="nav-item">
    <button class="dropdown-btn" onclick="toggleSubMenu(this)" data-id="menu-settings">
      <span> Settings</span>
      <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#1f1f1f">
        <path d="M480-360 280-560h400L480-360Z" />
      </svg>
    </button>
    <!--Settings submenu-->
    <ul class="sub-menu" data-parent="menu-settings">
      <div>
        <li><a href="#">Account</a></li>
        <li><a href="#">Vehicles</a></li>
        <li><a href="#">Reviews</a></li>
      </div>
    </ul>
  </li>
</ul>
