{% for vehicle in results %}
<div class="card" style="width: 18rem">
  <img src="{{vehicle.image.url}}" class="card-img-top" alt="..." />
  <div class="card-body">
    <h5 class="card-title">{{vehicle.brand}}</h5>
    <p class="card-text">{{vehicle.name}}</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">An item</li>
    <!--<li class="list-group-item">A second item</li>-->
    <li class="list-group-item"><strong>$ {{vehicle.price}}</strong></li>
  </ul>
  <div class="card-body" style="display: flex; align-content: center; justify-content: center">
    <a href="#" class="btn btn-primary" style="flex: 1; width: 70%"><span>View</span></a>
  </div>
</div>
{% empty %}
<p>No vehicles found.</p>
{% endfor %}
