{% extends "base.html" %}{% load static %}{% block title %} Home{% endblock title %}{% block content %}

<div class="container fade-slide">
  <div class="search-banner">{% include 'partials/messages.html' %}</div>
  <div class="search-content">
    <form method="GET" action="{% url 'results' %}" class="search-form shadow" style="border-radius: 20px">
      <div class="search-field">
        <label for="search-type"></label>
        <select name="search-type" class="form-select" placeholder="Select Type">
          <option value="">Select Type</option>
        </select>
      </div>
      <div class="search-field">
        <label for="search-model"></label>
        <select name="search-model" class="form-select" placeholder="Select Model">
          <option value="">Select Model</option>
        </select>
      </div>
      <div class="search-field">
        <label for="search-price"></label>
        <select name="search-price" class="form-select" placeholder="Select Price">
          <option value="">Select Price</option>
        </select>
      </div>
      <div class="search-field">
        <button type="submit" class="btn btn-primary w-100">Search vehicles</button>
      </div>
    </form>
  </div>
</div>
<div class="category-display">
  {% for category in categories %}
  <div class="card" style="width: 17rem">
    <img src="{{category.image.url}}" class="card-img" alt="..." />
    <div class="card-body">
      <h5 class="card-title">{{category.name}}</h5>
      <p class="card-text">{{category.description}}</p>
      <a href="#" class="btn btn-primary">View</a>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock content %}
